* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #1b2531; }

h1 {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  padding: 50px;
  margin-top: 150px; }

#drum-pads {
  display: flex;
  justify-content: center; }
  #drum-pads .drum {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #drum-pads .drum .pad {
      background-color: #181e29;
      border: #305863 5px solid;
      margin: 35px; }
      #drum-pads .drum .pad img {
        width: 200px; }
    #drum-pads .drum p {
      color: #305863;
      font-size: 2rem;
      font-weight: bold; }
